/****************************************
 *	Equipe
 ****************************************/

.equipe {
  //left: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //height: 800px;

  h1 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: $rose;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    &.lalib {
      font-size: 18px;
      max-width: 560px;
      margin: auto;
    }
  }

  .profiles {
    margin-top: 100px;
    margin-bottom: 100px;
    @media screen and (min-width: 995px) {
      display: flex;
    }
    justify-content: space-between;
    .profile {
      &.chlo, &.eno, &.ju {
        text-align: center;
        padding: 30px;
        .profile-img {
          margin: auto;
          width: 220px;
          height: 220px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      &.chlo {
        .profile-img {
          background-image: url("../images/chlo.svg");
          &:hover {
            background-image: url("../images/detail-chlo.svg");
          }
        }
      }
      &.eno {
        .profile-img {
          background-image: url("../images/eno.svg");
          &:hover {
            background-image: url("../images/detail-eno.svg");
          }
        }
      }
      &.ju {
        .profile-img {
          background-image: url("../images/ju.svg");
          &:hover {
            background-image: url("../images/detail-ju.svg");
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    bottom: 0;
  }
}