/****************************************
 *	Footer
 ****************************************/
.footer {
  position: relative;
  width: 100%;
  background-image: url("../images/footer.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  font-weight: 700;
  .logo-formations {
    display: flex;
    justify-content: space-between;
    img {
      margin: 20px 30px 65px;
      height: 44px;
      @media screen and (min-width: 1200px) {
        margin: 20px 30px ;
      }
    }
  }

  .lang {
    &-lang {

      position: absolute;
      bottom: calc(63px / 2 - 25px / 2);
      color: white;
      transition-duration: 500ms;
      cursor: pointer;
      text-decoration-line: underline;

      &.active, &:hover {

        color: $violet_fonce;

      }
    }
    &-fr {

      left: 10%;
      @media screen and (min-width: 450px) {
        left: 30%
      }
      @media screen and (min-width: 995px) {
        left: 40%;
      }

    }
    &-en {

      right: 10%;
      @media screen and (min-width: 450px) {
        right: 30%
      }
      @media screen and (min-width: 995px) {
        right: 40%;
      }

    }
  }

  .rs-nav {
    position: absolute;
    left: calc(50% - 50px);
    margin: auto;
    padding: 0;
    bottom: calc(63px / 2 - 25px / 2);
    .rs-nav-a {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      width: 33.33px;
      height: 25px;
      position: relative;
      img {
        height: 13px;
        transition-duration: 500ms;
      }
      &:hover {
        img {
          height: 23px;
          transition-duration: 500ms;
        }
      }
    }
  }

}