/****************************************
 *	header
 ****************************************/

.header {
  position: relative;
  width: 100%;
  top: 0;

  &-nav {
    &-logo {
      img{
        width: 170px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin: 65px 0;
      padding: 0;
      .header-nav-li {
        list-style: none;
        text-align: center;
        margin: 0;
        .icon {
          height: 60px;
          width: 60px;
          transition: width 1000ms, height 1000ms;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
        }
        p {
          margin: 0;
        }
        a{
          color: $violet_fonce;
          text-decoration: none;
        }
        &.header-nav-projet,&.header-nav-equipe{
          transition-duration: 500ms;
          @media screen and (max-width: 450px) {
            margin-top: 100px;
          }
        }
        &.header-nav-projet {
          .icon {
            background-image: url("../images/projet-1.svg");
            background-size: 40px;
          }
        }
        &.header-nav-equipe {
          .icon {
            background-image: url("../images/equipe-1.svg");
            background-size: 50px;
          }
        }
        &:hover, &.active {
          &.header-nav-projet {
            cursor: pointer;
            .icon {
              transition:background-image 500ms, background-size 500ms;
              background-image: url("../images/projet-2.svg");
              background-size: 50px;
            }
            a{
              font-weight: 500;
            }
          }
          &.header-nav-equipe {
            cursor: pointer;
            .icon {
              transition:background-size 500ms,background-image 500ms ;
              background-image: url("../images/equipe-2.svg");
              background-size: 60px;
            }
            a{
              font-weight: 500;
            }
          }
        }
      }
    }
  }

}