/****************************************
 *	Projet
 ****************************************/

.projet {

  h1{
    font-weight: 500;
    font-size: 34px;
    color: $rose;
    text-align: center;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-top: 20px;
    text-align: center;
  }

  .pitch {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 200px auto 250px;
    @media screen and (max-width: 995px) {
      margin: 150px auto 0;
    }
    p {
      margin: auto;
    }
    .fond {
      position: relative;
      left: 50%;
      .fond-el {
        position: absolute;
        &.fond-rond{
          right: -513px;
          top: 23px;
          width: 93px;
          opacity: 0.9;
        }
        &.fond-triangle {
          right: -500px;
          top: -100px;
          transform: rotate(3deg);
          width: 210px;
          opacity: 0.9;
        }
        &.fond-mask {
          bottom: -345px;
          left: -337px;
          width: 336px;
          transform: rotate(20deg);
        }
        &.fond-elipse {
          bottom: -400px;
          left: -500px;
          transform: rotate(-20deg);
          width: 360px;
        }
      }

      @media screen and (max-width: 995px) {
        .fond-el {
          position: absolute;
          &.fond-rond{
            right: -313px;
            top: 23px;
          }
          &.fond-triangle {
            right: -300px;
            top: -100px;
          }
          &.fond-mask {
            bottom: -345px;
            left: -137px;
          }
          &.fond-elipse {
            bottom: -400px;
            left: -300px;
          }
        }
      }
    }
  }



  .timeline{
    position: relative;
    height: 900px;
    .progression{
      position: absolute;
      top: 360px;
      width: 100%;
      @media screen and (max-width: 380px) {
        top: 295px;
      }
      h2{
        color: $violet;
      }
      p{
        font-weight: 400;
        font-size: 20px;
        color: $violet_fonce;
        text-align: center;
        margin: auto;
      }
      &-background{
        position: absolute;
        top:230px;
        width: 100%;
        opacity: 0.7;
        @media screen and (max-width: 995px) {
          display:flex;
          justify-content:center;
        }
        img{
          display: block;
          margin: auto;
        }
      }
      &-bar {
        margin-top: 50px;
        margin-bottom: 50px;
        &:before{
          content: "";
          width: 669px;
          @media screen and (max-width: 995px) {
            width: calc(100% - 20px);
          }
          height: 2px;
          background-color: $bleu;
          display: block;
          margin: auto;
          position: relative;
          top: -10px;
        }
        &--line {
          width: 699px;
          @media screen and (max-width: 995px) {
            width: 100%;
          }
          display: flex;
          justify-content: space-between;
          margin: auto;
        }
        &--bulet{
          font-size: 24px;
          font-weight: 400;
          position: relative;
          &:before {
            content: "";
            width: 12px;
            height: 12px;
            border: 1px solid $bleu;
            display: block;
            border-radius: 50px;
            margin: auto;
            position: relative;
            top: -17px;
          }
          &.past{
             color: $bleu;
            &:before {
              background-color: $bleu;
            }
          }
          &.next, &.active{
            color: $violet;
            &:before {
              background-color: white;
            }

          }
          &.active{
            &:before{
              border-style: double;
            }
            &:after{
              border: 1px solid $violet;
              border-radius: 50%;
              width: 18px;
              height: 18px;
              content: "";
              position: absolute;
              top: -20px;
              left: 5px;
            }
          }

        }
      }
    }
    .vague {
      width: 1110px;
      img {
        width:1110px;
        position:absolute;
      }
    }
  }


  .mockups{
    text-align: center;
    position: relative;
    height: 765px;
    @media screen and (max-width: 450px) {
      height: 565px;
    }
    p{
      margin-bottom: 50px;
    }
    .slick-dots{
      bottom: -50px;
    }
    .slider_wrapper{
      position: relative;
      .slick-list{
        overflow: visible !important;
      }
      .slick-slide{
        img {
          margin: 30px;
          @media screen and (min-width: 450px) {
            margin: 50px;
          }
          @media screen and (min-width: 600px) {
            margin: 60px;
          }
          @media screen and (min-width: 768px) {
            margin: 0 100px;
          }
          @media screen and (min-width: 1024px) {
            margin:  0 150px;
          }
          @media screen and (min-width: 1224px) {
            margin:  0 200px;
          }
          @media screen and (min-width: 1440px) {
            margin:  0 250px;
          }
          @media screen and (min-width: 1616px) {
            margin:  0 300px;
          }
          @media screen and (min-width: 1838px) {
            margin:  0 350px;
          }
        }
        &:focus {
        outline: none !important;
        }
      }
    }
    &-book{
      position: absolute;
      left: 45%;
      top: 150px;
    }

    @media screen and (max-width: 945px) {
      &-app{
        width: 250px;
      }
      &-book{
        position: absolute;
        left: 35%;
        top: 150px;
        width: 300px;
      }
    }
    @media screen and (max-width: 750px) {
      &-app{
        width: 200px;
      }
      &-book{
        position: absolute;
        left: 20%;
        top: 350px;
        width: 300px;
      }
    }
    @media screen and (max-width: 450px) {
      &-app{
        width: 130px;
      }
      &-book{
        position: absolute;
        left: 30%;
        top: 250px;
        width: 180px;

      }
    }

  }


  .apocobi{
    position: relative;
    .bulleapo,.bullecobi{
      background: $bleu;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      display: block;
      text-align: center;
      position: absolute;
      &:before{
        content: "";
        display: block;
        width: 6px;
        height: 40px;
        background-color: $bleu;
        border-radius: 5px;
        position: absolute;
        top: 99%;
        left: calc(50% - 3px);
      }
    }
    .bulleapo{
      padding-top: 30px;
      right: calc(50% - 10px);
      top: 120px;
    }
    .bullecobi{
      padding-top: 40px;
      left: calc(50% - 10px);
      top:250px;
    }
    .apocobiImg{
      padding-top: 300px;
      padding-bottom: 100px;
      background-image: url('../images/fond-apocobi.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

  .cqqcoqp{
    .applicoi, .applipourquoi, .applicomment, .applipourqui{
      margin-top: 50px;
      img {
        max-width: 100%;
        height: fit-content;
      }
      text-align: center;
      h2{
        color: $bleu;
      }
      p{
        font-size: 16px;
      }
    }
  }

  .soon {
    text-align: center;
    margin: 100px 0;
    img{
      margin-bottom: 50px;
    }
  }

}

