@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//@import "../../node_modules/slick-carousel/slick/slick.scss";
//@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

@import 'utils/variables';

@import 'utils/texts';
@import 'layout/header';
@import 'layout/projet';
@import 'layout/equipe';
@import 'layout/home';
@import 'layout/footer';


/****************************************
 *	Body
 ****************************************/

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: $violet_fonce;
}

/****************************************
 *	Corps
 ****************************************/

.corps {
  width: 100%;
}

