/****************************************
 *	Texts
 ****************************************/

/********************
 *	Titles
 ********************/

h1, h2, h3, h4, h5, h6 {

}

/********************
 *	Texts
 ********************/

p {
}

/********************
 *	Lists
 ********************/

ul {
}

ul, li {
}

li {

}

/********************
 *	Link
 ********************/

a {
}