/****************************************
 *	Variables
 ****************************************/

/********************
 *	Colors
 ********************/

$color_black: #000000;
$color_white: #ffffff;
$jaune: #FFEB8F;
$violet: #9683C4;
$rose: #F67784;
$bleu: #A3EEF6;
$violet_fonce: #2A2552;
$violet_claire: #F5F0FA;